/* Color */

body {
    background: var(--bg-color);
}

p,h1,h2,h3,h4,h5,h6,b,i,label,div {
    color: var(--text-color);
}

/* Main */

@media(min-width: 500px) {
    main {
        display: flex;
        justify-content: center;
    }

    .main-button {
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        margin-top: auto;
    }

    .main-form {
        width: 500px;
        min-height: 500px;
        padding: 50px 50px 20px 50px;
        background: var(--main-color);
        border: 1px solid var(--main-border-color);
        margin-bottom: 30px;
        border-radius: 30px;
    }
}

@media(max-width: 499px) {
    .main-button {
        margin-left: auto;
    }
}

main .main-button {
    padding-top: 30px;
}

main div.main-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

main .main-button button:disabled {
    border: 1px dashed var(--button-border-disabled);
}

main .main-button button:disabled svg {
    fill: var(--button-border-disabled-icon);
}

main .main-button button:hover,
main .main-button button:focus {
    border: 1px solid var(--button-border-hover);
}

main .main-button button:focus {
    outline: 5px solid var(--primary);
}

main .main-button button {
    border-radius: 50px;
    border: 1px solid var(--button-border);

    margin-bottom: 10px;
    margin-left: 10px;

    padding: 10px;
}

main .main-button button svg {
    fill: var(--text-color);
    margin-bottom: 2px;
    width: 16px;
    height: 16px;
}

main .main-button button#button-prev svg {
    margin-right: 5px;
    margin-left: 3px;
}

main .main-button button#button-next svg {
    margin-right: 3px;
    margin-left: 5px;
}

main .main-button button#button-finish svg {
    margin-right: 4px;
    margin-left: 4px;
}

main h3 {
    margin-bottom: 30px;
}

main .main-progress
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;

    width: 100%;
    height: 4px;
    background: var(--bg-progress);
    border-radius: 20px;
}

main .main-progress button {
    width: 30px;
    height: 30px;

    display: flex;
    background: var(--bg-progress-div) !important;

    justify-content: center;
    align-items: center;

    font-size: 10px !important;

    border-radius: 50%;
    margin-top: -13px;

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

main .main-progress button.active {
    background: var(--bg-progress-div-active) !important;
}

main .main-progress button:focus {
    outline: 5px solid var(--primary-progress);
}
